{
    "garage_doors": [
        {"door_id": <int>, "control_pin": <int>},
        {"door_id": <int>, "control_pin": <int>}
    ],
    "api_keys": {
        "john_doe": "some_long_random_api_key",
        "jane_doe": "some_other_random_api_key"
    }
}